/*@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
	font-family: 'Bebas Neue', sans-serif;
}*/
button{
	outline: none !important;
    box-shadow: none !important;
}
.masterhead-heading{
	letter-spacing: 2px;
}
.masterhead {
	position: relative;
	padding-top: 8.5rem;
	padding-bottom: 6rem;
	text-align: center;
	color: #fff;
	background-image: url("../img/homepage-bg.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}

.masterhead:before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .5);
}

.masterhead-heading, .masterhead-subheading, .masterhead-subheading-bottom{
	position: relative;
}

.masterhead .masterhead-subheading, .masterhead-subheading-bottom{
	font-size: 1.5rem;
	line-height: 1.5rem;
	margin-bottom: 25px;
}

.masterhead .masterhead-heading{
	font-size: 3.25rem;
	font-weight: 700;
	line-height: 3.25rem;
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.masterhead {
		padding-top: 13.5rem;
		padding-bottom: 12.5rem;
	}

	.masterhead .masterhead-subheading, .masterhead-subheading-bottom{
		font-size: 2.25rem;
		line-height: 2.25rem;
		margin-bottom: 2rem;
	}

	.masterhead .masterhead-heading{
		font-size: 4.5rem;
		font-weight: 700;
		line-height: 4.5rem;
		margin-bottom: 1rem;
	}
}

.navbar{
	transition: all 0.3s;
}

.nav-scrolled{
	background-color: #1B1B1E;
}

.navbar-toggler span{
	text-decoration: none; 
}

.navbar_ul{
	background-color: red;
}

.offcanvas{
	transition: all 0.2s;
}

.offcanvas:after{
	content: '';
}

.page-section{
	padding: 5rem 0;
}

.section-heading{
	padding-bottom: 3rem;
}

.card-text{
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	display: -webkit-box;
}

@media (min-width: 536px){
	footer{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
	footer ul{
		justify-content: flex-end;
	}
}
@media (max-width: 535px){
	footer{
		text-align: center;
		justify-content: center;
	}
	footer ul{
		justify-content: center;
	}
}
